#### Try to finish as many problems as you can , the grade will be "adjusted" based on the class max/min score. 

#### Answer the questions based on your best understanding and judgement. If you feel there are multiple interpretation for the problem itself and will result in different solutions, specify your interpreation it in your answer   --- if more than 1 student express the same concern, I will accomodate it when grading

#### You don't have to write your final answer with human language. as long as I can find the answer from your coding output, it's fine.

#### The midterm will be submitted through Canvas (like what you did for your hw). The deadline is Mar 22nd, 7:50pm CST.  It costs 5 point/every 5 minutes for the late submission. If you cannot submit due to tech issue, use your phone to take pictures of your screen (and full solution), or send an email with the solution to yourself.  In either way, time stamp will be kept. To be fair, I don't accept any excuse for the late submission.

1. Thumb up on Zoom and let me know you have successfully downloaded the midterm file and read the policy (1 point)

   read the data from https://raw.githubusercontent.com/YalanHu/STAT6309/main/dataset_31_credit-g.csv, and create a dataset        called df. The imported values should not have quotation marks '' for all columns  (2 points)   3/100

2. show the first 2 rows of df (2 points) 5/100

3. How many rows and columns in df  (3 points)  8/100

4. Show all column names in df (4 points)   12/100

5. list the counts of unique values in personal_status (4 points)   16/100

6. For all categorical columns, calculate the number of unique values for each columns, values with the highest frequency, and the value of the highest frequency. (4 points)   20/100

   For example, checking_status has 4 unique values, the value with the highest frequency is "no checking", and the highest frequency is 394

7. what is the 20, 55, 70th pencentile of the attribute credit_amount (4 points)  24/100

8. in df, change the column name from class to target (4 points)   28/100

9. In df, created a new attribute called "min_prepayment".  min-prepayment = credit_amount/installment_commitment 

    what is the sum of min_prepayment?  (4 points)   32/100

10. How many duplicates based on all columns in this df? (4 points)   36/100

11. how many record satisfies [credit_amount > 4000 and credit_amount<3000],  or credit_amount>=7000  ?   (6 points)   42/100

12. sort df by credit_amount, the largest value of credit_amount should be on top. 
    what is the mean duration value for the top 10 records based on the sorted order? (6 points)   48/100

13. calculate the mean credit_amount value for each group in Purpose (column) 
    eg. the mean credit_amount value for business is 4158, for eduction is 3180..etc.. (4 points)   52/100
    
    generate a bar chart based on the output. The x axis is groups, and y axis is the mean credit_amount.
    Add approriate label/title. (4 points)     56/100

14.  In df, create a column "credit_rating" based on the rules below:

     1). if credit_amount < 2000, credit_rating is Low
     
     2). if credit_amount >=2000 and credit_amount <4000, credit_rating is Medium
     
     3). else credit_amount is High
     
     Answer the question: how many of observations are Low, Median or High in column credit_rating (6 points)   62/100

15. create a new df called df_personal_status. In this new df, all of th records have the male single status for persona_status.

   How many rows for this new df? (4 points)    66/100

16. for the df df_personal_status, permenently drop two columns checking_status and duration. (4 points)   70/100

17. rewrite the code below (3 lines) using lambda function (3 points)    73/100

In [1]:
def XY_transform(x,y):
    return (x+y)*2
XY_transform(2,3)

10

18. re-write the list comprehension code using for loop, and generate the same output (4 points)  77/100

In [2]:
[x*2 for x in [1,2,3,4]]

[2, 4, 6, 8]

19.  merge the table a and b using two keys: A & B (3 points)   80/100

20. write a user defined function to performance the factorial calcuation.

    The input could be any interger X eg. 0, 1, 2, 3, 4, 5, 6, ....
    the output will be X!
    
    no credit will be given for built-in factorial function  (8 points)    88/100

21. Alex has had a very fruitful month and decided to take a vacation for a week. To avoid any stress during her vacation she wants to forward emails with work related subject line to Bob.

    The function should recognise if a subject line is work related. A work related subject line means it contains the
    “red” word: "help". The "red" word can be spelled in different ways - "HELP", "help", "HeLp", "H!E!L!P!", "H-E-L-P", even in a very loooong way "HHHEEEEEEEEELLP," they just can't have any other letters interspersed between them. （12 points)   100/100

    Input: Subject line as a string.
    Output: Boolean.
    Example:

    is_work("Hi") == False

    is_work("I neeed HELP") == True